<!-- Bottom Nav Bar -->
      <nav class="navbar fixed-bottom" style="background-color: #7c68ee;">
        <a class="navbar-brand" href="https://github.com/sebasxtian">
          <img src="/Assets/images/SAO_background.jpg" alt="My Git Logo" style="width:40px; height:40px;" class="rounded-pill"> 
        </a>
        <a class="gitLink" href = "https://github.com/sebasxtian">My Github</a>
        <h6 class="navbar-text ms-auto" style="color: #ffffff;">&copy; Copyright 2022. All Rights Reserved.</h6>
      </nav>