

<div id="HWrapper">
        <div class="homeText">
                <h2>The Nissan Skyline GTR Family</h2>
                <p>Deemed as some of the best cars to ever come out of the Japanese Domestic Market the GTR family is prestige</p>
                <p>'Godzilla'</p>
        </div>

        <figure>
                <img class="imgCenter" src="/Assets/images/gtrEvo.jpg" alt="Evolution of the Skyline GTR" width="100%" height="100%">
        </figure>
</div>