<p> I wanted to create another table that would display some 'car care options' 
but never got around to it so here is a cool drawing of a R32 GTR from the manga Inital D</p>
<figure>
    <img class="imgCenter" src="/Assets/images/r32Art.jpg" alt="Evolution of the Skyline GTR" width="100%" height="100%">
</figure>